.header {
    display: flex;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 30);
}

.isLogin, .isRegister {
    background-color: rgb(15, 13, 13) ;
}
  
.header__img {
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-left: 40px;
}
  
.header__menu {
    margin-right: 50px;
}
  
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px 0px;
}
  
.header__menu:hover ul, ul:hover {
    display: block;
}
  
.header__menu li {
    margin: 10px 0px;
}
  
.header__menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Lora", sans-serif;
}
  
.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.header__menu--profile img {
    margin-top: 8px;
    margin-right: 8px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}
  
.header__menu--profile p {
    margin: 0px;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}