@import "./Vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-flow: column;
    font-size: 16px;
    background-color: #000106;
    background-image: linear-gradient(45deg, #000106 0%, #138b86 55%, #1c119c 100%);
    font-family: 'Lora', sans-serif;
}